.container {
    width: 450px;
    height: 350px;
    display: flex;
    /*align-items: ;*/
    justify-content: center;
    padding: 10px;

}
.wrap_image {
    display: flex;
    width: 430px;
    height: 270px;


}

/*.wrap_image image {*/
    /*width: 162px;*/
    /*height: 100px;*/
/*}*/