.container {
    width: 1200px;
    height: 490px;
    border: 1px solid rgba(109, 110, 112, .5);
    text-align: center;
    margin: 0 auto;
    padding: 20px 10px 20px 10px;
    color: #6d6e70;
}

.main {
display: flex;
}


.connection_image_block {

}

.connection_block {
    width: 400px;
    height: 430px;
    padding: 15px;
}
.connection_block p {
    font-weight: bold;
}

.dropdown {
    margin-bottom: 20px;
}
.connection_wrapper {

}

.connection_img {
    display: flex;
    align-items: left;
    /*padding: 20px;*/
}
/*base size: 600x450 px*/
.connection_img img{
    width: 240px;
    height: 180px;
    padding: 5px;
    margin: 0 auto;
}

.connection_size_block {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-top: 5px;
}
.air_location_wrapper {
    height: 430px;
    width: 250px;
}

.air_location_wrapper p {
    font-weight: bold;
}

.air_location_block {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
}
/*base size: 800x600 px*/
.cooler_img img{
    width: 200px;
    height: 150px;
}
.cooler_img {
    display: flex;
    align-items: left;
    padding: 20px;
}

.size_image_wrapper{
    width: 550px;
    height: 430px;
    display: flex;
    align-items: center;
}


.additional {
    display: none;
}
.aircooler_block {
    border: 1px solid green;
}
.air_connection_block {
    border: 1px solid green;
}
.drain_block {
    border: 1px solid green;
}
.pressure_block {
    border: 1px solid green;
}

.item {
    height: 100px;
    width: 150px;
}








/*//////////////////////////*/
.select {
    position: relative;
    display: inline-block;
}

.select_btn {
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.select_btn:hover, .select_btn:focus {
    background-color: red;
}

.select_content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
}

.select_content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.select_content a:hover {
    background-color: greenyellow;
}

.show {
    display:block;
}