.container {
    width: 100%;
    min-height: 120px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 2px solid rgba(245, 130, 31, .5);
    border-bottom: 2px solid rgba(245, 130, 31, .5);
    margin: 0 0 20px 0;
    background-color: rgba(255, 180, 4, .2);
}
/*#ff9840- оранжевый*/
/*rgba(255, 152, 64, .5)*/

/*#6d6e70- cерый*/
/*rgba(109, 110, 112, .5)*/
.wrapper {
    width: 1200px;
    height: 120px;
    display: flex;
    align-items: left;
    padding: 10px 0 10px 0;
}

.wrapper img {
    height: 100%;
}

