.container {
    width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 20px 0 0 0;

}

.sideBar_wrapper {
    width: 100%;
    min-height: 130px;

}
.sideBar_wrapper h3 {
    width: 50%;
    border-bottom: 2px solid rgba(245, 130, 31, .9);
    padding: 10px;
    color: #6d6e70;
    margin: 0 auto;
}

.sideBar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0 10px 0;

}

.button {
    text-decoration: none;
    color: #6d6e70;
    border: 2px solid rgba(109, 110, 112, .5);
    border-radius: 15px;
    cursor: pointer;
    outline: none;
    margin: 10px 15px 0 15px;
    width: 200px;
    padding: 10px 20px 10px 20px;
    font-size: large;
    font-weight: bold;
    background-color: rgba(255, 152, 64, .3);
}

.button_active {
    text-decoration: none;
    border-radius: 15px;
    cursor: pointer;
    outline: none;
    margin: 10px 15px 0 15px;
    width: 200px;
    padding: 10px 20px 10px 20px;
    font-size: large;
    font-weight: bold;
    color: white;
    background-color: rgba(245, 130, 31, .9);
    border: 2px solid rgba(245, 130, 31, .9);
}

.sideBar button:hover {
    border: 2px solid rgba(245, 130, 31, .9);
    color: white;
}

/*.sideBar a {*/
    /*text-decoration: none;*/
    /*color: #6d6e70;*/
    /*border: 2px solid rgba(109, 110, 112, .5);*/
    /*border-radius: 15px;*/
    /*cursor: pointer;*/
    /*outline: none;*/
    /*margin: 10px 15px 0 15px;*/
/*}*/

/*.button {*/
    /*width: 200px;*/
    /*padding: 10px 20px 10px 20px;*/
    /*font-size: large;*/
    /*font-weight: bold;*/
    /*border-radius: 15px;*/
    /*background-color: rgba(255, 152, 64, .3);*/
/*}*/

/*.sideBar a:hover {*/
    /*border: 2px solid rgba(245, 130, 31, .9);*/
    /*color: white;*/
/*}*/

/*a.active {*/
    /*color: white;*/
    /*font-weight: bold;*/
    /*background-color: rgba(245, 130, 31, .9);*/
    /*border: 2px solid rgba(245, 130, 31, .9);*/
/*}*/

.extra_option_block {
    margin-bottom: 20px;
}

.btn_block {
    width: 50%;
    /*border-top: 1px solid rgba(109, 110, 112, .5);*/
    padding: 10px;
    margin: 10px;
}

.btn_block button {
    width: 200px;
    height: 40px;
    border-radius: 10px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    /*color: #6d6e70;*/
    outline: none;
}

.btn_block button:hover {
    cursor: pointer;
    /*border: 2px solid rgba(245, 130, 31, .9);*/
    /*color: rgba(245, 130, 31, .9);*/
}
.btn_block button:focus {
      cursor: pointer;
      border: 2px solid rgba(245, 130, 31, .9);
      border-radius: 10px;
      background-color: rgba(245, 130, 31, .9);
      color: white;
  }