.container {
    padding: 15px;
    border: 1px solid black;
}


.height {

}
/*Costomization Select*/
.height select {
    width: 60%;
    height: 40px;
    font-size: large;
    /*padding-left: 20px;*/
    border-radius: 5px;
    cursor: pointer;
    padding: 5px 10px 5px 30px;
    outline: 0;
    border: 1px solid #2E3138;
    color: dimgray;
}

.height select:hover,
.height select:focus {
    color: dimgrey;
    background: #ffe0a6;
}

.height option {
    color: black;
    background: white;
}
.height select:disabled {
    opacity: 0;
    pointer-events: none;
}

.type {

}

.quantity {

}
.quantity input {
    width: 70px;
    height: 30px;
    font-size: 20px;
    font-weight: bold;
    padding: 3px 0 3px 15px;
    border-radius: 10px;
    border: 2px solid darkgrey;
}


.quantity input::-webkit-inner-spin-button {
    opacity: 1;
}
.quantity input:focus {
    outline: none;
}

/*////////////////*/
.typeContainer {

}

/*Costomization Radio*/
.radio_btn {
    display: inline-block;
    margin-right: 10px;
}

.radio_btn input[type=radio] {
    display: none;
}

.radio_btn label {
    display: inline-block;
    cursor: pointer;
    padding: 3px 3px 0 3px;
    /*line-height: 34px;*/
    border: 1px solid #999;
    border-radius: 6px;
    user-select: none;
}

.radio_btn input[type=radio]:checked + label {
    /*background: #ffe0a6;*/
    background: greenyellow;
}
.radio_btn input[type=radio]:hover  + label {
    /*background: #ffe0a6;*/
    background: #ffe0a6;
}

.radio_btn label:hover {
    color: #666;
}

.radio_btn input[type=radio]:disabled + label {
    background: #efefef;
    color: #666;
}

.radio_btn label img{
    width: 72px;
    height: 100px;
    cursor: pointer;
    user-select: none;
}

/*Costomization Select*/
.ui_select_2 {
    position: relative;
    display: inline-block;
    margin-bottom: 15px;
    width: 80%;
}

.ui_select_2 select {
    font-family: Calibri;
    width: 100%;
    display: inline-block;
    cursor: pointer;
    padding: 10px 15px;
    outline: 0;
    border: 1px solid #2E3138;
    border-radius: 15px;
    background: white;
    color: dimgrey;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}
.ui_select_2 select::-ms-expand {
    display: none;
}
.ui_select_2 select:hover,
.ui_select_2 select:focus {
    color: dimgrey;
    background: #ffe0a6;
}

.ui_select_2 select:disabled {
    opacity: 0;
    pointer-events: none;
}

.ui_select_2 option{
    padding: 10px;
    background: white;
}
