.container {
    min-width: 450px;
    height: 400px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    color: #6d6e70;
}


.height {
    margin-bottom: 35px;
}

.height p {
    margin-bottom: 5px;
}
/*Costomization Select*/
.height select {
    width: 50%;
    height: 40px;
    font-size: large;
    /*padding-left: 20px;*/
    border-radius: 5px;
    cursor: pointer;
    padding: 5px 10px 5px 30px;
    outline: 0;
    border: 1px solid #2E3138;
    color: dimgray;
}

.height select:hover,
.height select:focus {
    color: dimgrey;
    /*background: #ffe0a6;*/
    background: rgba(255, 152, 64, .3);
}

.height option {
    color: black;
    background: whitesmoke;
}
.height select:disabled {
    opacity: 0;
    pointer-events: none;
}

.type {
    margin-bottom: 35px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.type p {
    margin-bottom: 5px;
}

    /*Costomization Radio*/
.radio_btn {
    display: inline-block;
    margin: 0 5px 0 5px;
}

.radio_btn input[type=radio] {
    display: none;
}

.radio_btn label {
    display: inline-block;
    cursor: pointer;
    padding: 3px 3px 0 3px;
    /*line-height: 34px;*/
    border: 1px solid #999;
    border-radius: 6px;
    user-select: none;
}
.radio_btn label img {
    border-radius: 6px;
}

.radio_btn input[type=radio]:checked + label {
    /*background: #ffe0a6;*/
    background: rgba(255, 152, 64, .7);
}
.radio_btn input[type=radio]:hover  + label {
    /*background: #ffe0a6;*/
    border: 1px solid rgb(255, 152, 64);
}

.radio_btn label:hover {
    color: #666;
}

.radio_btn input[type=radio]:disabled + label {
    background: #efefef;
    color: #666;
}

.radio_btn label img{
    width: 65px;
    height: 91px;
    cursor: pointer;
    user-select: none;
}


.quantity p {
    margin-bottom: 5px;

}
.quantity input {
    width: 80px;
    height: 35px;
    font-size: 20px;
    font-weight: bold;
    padding: 3px 0 3px 15px;
    border-radius: 10px;
    border: 2px solid darkgrey;
    color: dimgray;
}


.quantity input::-webkit-inner-spin-button {
    opacity: 1;
}
.quantity input:focus {
    outline: none;
}
